<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jade</title>
    <script type="text/javascript">
      const foo = true;
      let bar = function () {};
      if (foo) {
        bar(1 + 5);
      }
    </script>
  </head>

  <body>
    <h1>You are offline</h1>
    <div class="col" id="container">
      <p>You are offline</p>
    </div>
  </body>
</html>
