<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Đăng ký</title>
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/main.part2.css" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#2196f3" />
  <!-- ios Support -->
  <link rel="apple-touch-icon" href="assets/images/fasting-96x96.png" />
  <meta name="apple-mobile-web-app-statuc-bar" content="#aa7700" />


</head>

<body>
  <div class="wrapper">
    <div class="container">
      <section class="content">
        <div class="intro">
          <h2 class="intro__title">Fast forward to better health.</h2>
          <p class="intro__desc">
            Cải thiện chế độ ăn uống của bạn, giúp sức khỏe tốt hơn và có chế
            độ giảm cân phù hợp
          </p>
          <button class="cta white">Bắt đầu</button>
        </div>
        <div class="form">
          <a class="form__facebook" href=""><img src="assets/icon-facebook.svg" alt="" />Đăng ký với
            Facebook</a>
          <span>hoặc</span>
          <form action="/register" method="post">
            <div class="form__inputWrapper">
              <label for="email">Email</label>
              <input type="email" id="email" placeholder="Nhập email của bạn" name="email" required />
            </div>
            <div class="form__inputWrapper">
              <label for="passwork">Mật khẩu</label>
              <input type="password" id="password" placeholder="Mật khẩu" name="password" required />
            </div>
            <div class="form__inputWrapper">
              <label for="repasswork">Nhập lại mật khẩu</label>
              <input type="password" id="password_confirmation" placeholder="Nhập lại mật khẩu"
                name="password_confirmation" required />
            </div>
            <% if(errors !="" ) { %>
              <% errors.forEach(item=> { %>
                <p class="form__error show">
                  <%= item%>
                </p>
                <% })%>
                  <% } %>


                    <div class="form__account">
                      <p>
                        Đã có tài khoản?
                        <a class="link" href="login">Đăng nhập tại đây</a>
                      </p>
                    </div>
                    <input class="cta" value="Đăng kí" type="submit"></input>
          </form>
        </div>
      </section>
    </div>
  </div>
  <script src="js/pwa/pw.js"></script>
</body>

</html>